* {
    margin: 0;
    padding: 0;
}

body {
    font-family: Arial, Helvetica, sans-serif;
    background-color: rgb(61, 59, 59);
}

.container {
    max-width: 1000px;
    margin: auto;
}

section {
    padding: 20px;
    background-image: url('../img/people.jpg');
    float: none;
    background-size: cover;
    overflow: hidden;
}


header {
    color: #fff;
    background-color: aqua;
    text-align: center;
    padding: 10px;
}

.title {
    font-size: 26px;
}

/* // estilo caixa lateral/direita // */
.formContainer {
    max-width: 230px;
    background-color: #ffffffbb;
    padding: 20px;
    float: right;
}

h2 {
    font-size: 16px;
}

input, select {
    width: 100%;
    box-sizing:border-box;
    padding: 10px;
    border: none;
    margin-bottom:  10px;
}

input[type="submit"]{
    color: #fff;
    background-color: aqua;
    font-weight: bold;
}


select {
        /* P/ inserir a seta na busca do Estado */
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
        /* Terminha aqui */

        /* Inserir e Ajustes na Seta */
    background-image: url('../img/arrow.jpg');
    background-repeat: no-repeat;
    background-position-x: calc(100% - 10px);
    background-position-y: center ;
        /* Termina aqui */
}

footer {
    padding: 40px;
}

.picture {
    width: 160px;
}

.description {
    display:inline-block;
    color: #fff;
    max-width: 40%;
    margin-left: 40px;

}

