* {
    margin: 0;
    padding: 0;
}

body {
    font-family: Arial, Helvetica, sans-serif;
    background-color: rgb(61, 59, 59);
}

.container {
    max-width: 1000px;
    margin: auto;
}


header {
    color: #fff;
    background-color: aqua;
    text-align: center;
    padding: 10px;
}

.title {
    font-size: 26px;
}

/* // estilo caixa lateral/direita // */
.formContainer {
    max-width: 230px;
    background-color: #ffffffbb;
    padding: 20px;
    float: right;
}

h2 {
    font-size: 16px;
}

input, select {
    width: 100%;
    box-sizing:border-box;
    padding: 10px;
    border: none;
    margin-bottom:  10px;
}
